@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: #010101;
    overscroll-behavior: none;
    font-family: "Inter";
}

.header {
    padding: 4em;
    opacity: 0.75;
}

.header h1 {
    width: 60%;
    background: linear-gradient(to top, #cecece 0%, #FEFEFE);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    font-size: 80px;
    letter-spacing: -0.05em;
    line-height: 1;
}

h1 {
    font-size: 25vw;
}

.glassy-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(50px);
    pointer-events: none;
}

.container {
    position: absolute;
    top: 0;
    z-index: 100000;
}
